
<div class="content">
            <br><br>
            <table class="tables"><tr><td>
                  <h3>Thanks for playing! </h3><p>Hi! I’m Greg Barozzi, a Ruby developer living in Portland, Oregon. You can follow me on Twitter <b>@glbarozzi</b> 
                  or check out my blog at <a href="http://Barozzi.github.io">Barozzi.github.io</a>
<h3>Rometica is a math puzzle game.</h3>
<p>
The concept for Rometica derived from a discussion on database design and evolved from a 28 line code snippet  into a rewarding, and replayable web application. The rules are simple: three numbers on each tile represent an arithmetic equation, and the player selects the two numbers that add together to equal the third.
</p>
<h3>Rometica is a math learning game.</h3>
<p>
I wanted to make a game that would be both fun and educational. The multiplication version, for instance, is a great way for kids to learn their times tables.
</p>
</td></tr>
</table>
</div>
