<div class="content">
    		<h3>Hi! I’m Greg Barozzi,</h3>
        <p>a Ruby developer living in Portland, Oregon. You can follow me on Twitter <b>@glbarozzi</b>,
        or check out my tech blog at <a href="http://Barozzi.github.io">Barozzi.github.io</a>
    		<br><h4>gregbarozzi@gmail.com</h4> </p>

</div>
