<br>
<div class="container-fluid">
  <div class="row-fluid">
    	<div class="span7">
            <br><br>
    		<h3>Hi! I’m Greg Barozzi,</h3>
    		<p>a Ruby developer living in Portland, Oregon. You can follow me on Twitter <b>@glbarozzi</b>, and I'd love to meet you at <%= link_to('PDX.RB', 'http://pdxruby.org/') %>
    		<br><h4>gregbarozzi@gmail.com</h4> </p>
    		<br><br><br><br><br>
    		<br><br><br><br><br>
    		<br><br><br><br><br>

 </div>
</div> 	  
</div>
