    	<div class="content">
    		<h1>The Math Puzzle Game</h1>
      <div ng-app="myApp">
    <div ng-controller="RometicaCtrl">
        <table class="tile">
          <tr ng-repeat="row in currentPane">
            <td class="tile-data"  ng-repeat="cell in row track by $index" ng-class="{selected: selectedByUser}" data-ng-click="selectedByUser = toggleSelected()" >{{cell}}</td>
          </tr>
        </table>
  </div>
</div>

 	  </div>
 	  <div class='description'>
				<h3>One Solution</h3>
				<p class='description-text'>
					Each Rometica tile has only one correct combination!

				</p>
				<h3>Select Two</h3>
				<p class='description-text'>
					Select two numbers from the Rometica tile that combine to make the sum
					of another in order to solve the tile.
          </p>
          <p class='description-text'>
            For example: if you see the numbers 2, 3, and 5 in the grid above, you would click the numbers 2 and 3 to complete the puzzle. (2 + 3 = 5)
          </p>
				<h3>Play Again</h3>
				<p class='description-text'>
					Solving Rometica puzzles reveales hidden
					relationships between the numbers.
					Can you become a Rometica Master?

				</p>


	</div>

